@font-face {
  font-family: Helvetica;
  src: url(/assets/font/Helvetica.ttf);
}

.rounded-top-left-1 {
  border-top-left-radius: 60px;
}

/* Header */
.navbar {
  background-color: #f1f3ff;
  width: 100%;
}

.logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

body {
  font-family: Helvetica;
}

/* offcanvas */
#offcanvasNavbar {
  width: 180px;
}

#button-register {
  width: 81px;
  height: 36px;
}
.offcanvas-header {
  padding-top: 34px;
  padding-bottom: 0;
}

.offcanvas-body {
  margin-top: -10px;
}

.nav-item {
  margin-top: 16px;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  color: #000000;
}

/* All about button */

.button {
  background-color: #5cb85f;
  border: none;
}

.font-button {
  color: white;
  font-size: 0.8em;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 20px;
}

/* All about banner */
.banner {
  background-color: #f1f3ff;
  height: 623px;
  width: 100%;
}

#banner-content {
  padding-top: 5px;
}

.banner h1 {
  font-weight: 700;
  line-height: 54px;
  font-size: 36px;
}

.banner p {
  font-size: 14px;
}

.paragraf-banner {
  padding-top: 16px;
}

#button-rental {
  margin-left: 16px;
  width: 140px;
  height: 36px;
  margin-top: 16px;
}

#mercedes-car {
  width: 100%;
  margin-top: 1px;
}

.car-image {
  width: 344px;
  margin-left: 16px;
  margin-top: 24px;
}

.bg-car {
  background-color: #0d28a6;
  width: 344px;
  height: 118px;
  margin-top: 80px;
}
